# COIN-OR

In [2]:
# Datenzugriff
from configs.path_manager import get_path
import pandas as pd

# Utils
import src.utils.presenter as show
from src.utils.initialization import jobs_jssp_init as init
from src.utils.analize import check_constrains as check

# Solver Model
from src.models.lp import makespan
# conda install -c conda-forge highs

In [3]:
max_time = 60*15 # 15 min
logs_path = get_path("data", "logs")

In [4]:
# Datei laden
basic_data_path = get_path("data", "basic")
df_instance = pd.read_csv(basic_data_path / "instance.csv")

df_jobs = init.generate_jobs_from_routings(df_instance, shuffle = False)
df_jobs

         Job  Routing_ID  Operation Machine  Processing Time
0   J25-0000           0          0     M00               29
1   J25-0000           0          1     M01               78
2   J25-0000           0          2     M02                9
3   J25-0000           0          3     M03               36
4   J25-0000           0          4     M04               49
..       ...         ...        ...     ...              ...
95  J25-0009           9          5     M09               76
96  J25-0009           9          6     M05               47
97  J25-0009           9          7     M03               52
98  J25-0009           9          8     M04               90
99  J25-0009           9          9     M07               45

[100 rows x 5 columns]

### a) CBC - COIN-OR Branch and Cut

In [ ]:
log_file_path = None # logs_path / "makespan_cbc.log"

# Scheduling
df_schedule = makespan.solve_jssp(df_jobs, solver= "CBC", msg=False, time_limit=max_time,logPath=log_file_path)
df_schedule

BigM: 5200

In [ ]:
show.plot_gantt(df_schedule, perspective="Job")

In [ ]:
show.plot_gantt(df_schedule, perspective="Machine")
check.is_machine_conflict_free(df_schedule)
check.is_operation_sequence_correct(df_schedule)
check.is_job_timing_correct(df_schedule)

### b) HiGHS mit PuLP

> high performance serial and parallel solver

In [ ]:
log_file_path = None # logs_path / "makespan_highs.log"

# Scheduling
df_schedule = makespan.solve_jssp(df_jobs, solver= "HiGHS", msg=True, var_cat="Integer", time_limit=max_time, logPath=log_file_path)
df_schedule

In [ ]:
show.plot_gantt(df_schedule, perspective="Job")

In [ ]:
show.plot_gantt(df_schedule, perspective="Machine")
check.is_machine_conflict_free(df_schedule)
check.is_operation_sequence_correct(df_schedule)
check.is_job_timing_correct(df_schedule)