In [1]:
import pandas as pd
import os
from config.project_config import get_data_path
from src.SolverAnalyses import ConvergenceAnalysis

In [2]:
def collect_experiment_max_times(path: str):
    """
    Durchsucht alle Unterordner des gegebenen Pfads und summiert
    pro Experiment die maximalen 'Time'-Werte aller Logdateien.

    Rückgabe:
        List[Tuple[str, float]] : (Experiment-Ordnername, Summe der max. Zeiten)
    """
    results = []

    # Nur Ordner im Hauptverzeichnis
    ordner = [d for d in os.listdir(path) if os.path.isdir(os.path.join(path, d))]

    for experiment_ordner in ordner:
        ordnerpfad = os.path.join(path, experiment_ordner)

        # Nur Dateien in diesem Unterordner
        dateien = [
            f for f in os.listdir(ordnerpfad)
            if os.path.isfile(os.path.join(ordnerpfad, f))
        ]

        sum_max_time = 0.0

        for datei in dateien:
            logpfad = os.path.join(ordnerpfad, datei)

            try:
                df_cp_logs = ConvergenceAnalysis.parse_cp_sat_bound_log_to_dataframe(
                    file_path=logpfad
                )
            except Exception:
                continue

            if df_cp_logs is None or df_cp_logs.empty or "Time" not in df_cp_logs.columns:
                continue

            max_time = (
                df_cp_logs["Time"]
                .apply(pd.to_numeric, errors="coerce")
                .dropna()
                .max()
            )

            if pd.notna(max_time):
                sum_max_time += float(max_time)

        results.append((experiment_ordner, sum_max_time))

    return results

In [3]:
sub_directory = "2025_10_16_Bernard/logs"
path = get_data_path(
    sub_directory
)
results = collect_experiment_max_times(path)
df_results_b = pd.DataFrame(results, columns=["Experiment", "TotalMaxTime"])
df_results_b["Experiment"] = (
    df_results_b["Experiment"]
    .str.replace("Experiment_", "", regex=False)  # Präfix entfernen
    .astype(int)                                  # führende Nullen entfernen
    .apply(lambda x: f"B-{x}")                    # Präfix neu setzen
)
df_results_b

   Experiment  TotalMaxTime
0         B-1       3673.47
1         B-2       2569.68
2         B-3       1274.42
3         B-4       2615.35
4         B-5       3597.69
5         B-6       3065.76
6         B-7       2576.68
7         B-8       5149.08
8         B-9       1858.21
9        B-10        451.56
10       B-11       2227.76
11       B-12       2118.95
12       B-13       2438.01
13       B-14       3963.87
14       B-15       1778.63
15       B-16          2.36
16       B-17       2241.88
17       B-18       1203.46
18       B-19       1538.35
19       B-20          0.00
20       B-21       6677.16
21       B-22       3227.44
22       B-23       2602.45
23       B-24       5532.08
24       B-25       6216.94
25       B-26       4968.35
26       B-27       4882.40
27       B-28       7301.23
28       B-29       4509.96
29       B-30       3157.71
30       B-31       8297.25
31       B-32       5083.50
32       B-33       5382.17
33       B-34       5126.70
34       B-35       2742.75
35       B-36          1.48
36       B-37       2510.70
37       B-38       2078.95
38       B-39       2416.80
39       B-40          0.00
40       B-41      13555.04
41       B-42      12737.54
42       B-43      12699.19
43       B-44      13722.36
44       B-45      10760.12
45       B-46      18693.94
46       B-47      12672.21
47       B-48      11044.85
48       B-49      13612.18
49       B-50       8456.15
50       B-51      12420.67
51       B-52      13219.02
52       B-53      12445.38
53       B-54      11715.91
54       B-55       8908.74
55       B-56         22.13
56       B-57       4527.74
57       B-58       7541.34
58       B-59       8654.86
59       B-60          0.00

In [4]:
sub_directory = "2025_10_16_Romeo/logs"
path = get_data_path(
    sub_directory
)
results = collect_experiment_max_times(path)
df_results_r = pd.DataFrame(results, columns=["Experiment", "TotalMaxTime"])
df_results_r["Experiment"] = (
    df_results_r["Experiment"]
    .str.replace("Experiment_", "", regex=False)  # Präfix entfernen
    .astype(int)                                  # führende Nullen entfernen
    .apply(lambda x: f"R-{x}")                    # Präfix neu setzen
)
df_results_r

    Experiment  TotalMaxTime
0          R-1       4888.37
1          R-2       6231.28
2          R-3       5015.30
3          R-4       5153.81
4          R-5       4139.97
..         ...           ...
124      R-125      13248.18
125      R-126      15069.90
126      R-127      13902.35
127      R-128      14738.44
128      R-129          0.00

[129 rows x 2 columns]

In [19]:
df_results = pd.concat([df_results_b, df_results_r], ignore_index=True)

In [21]:
worst_row = df_results.loc[df_results["TotalMaxTime"].idxmax()]
print("Experiment mit der längsten Gesamtzeit:")
worst_row

Experiment mit der längsten Gesamtzeit:

Experiment         R-110
TotalMaxTime    24028.91
Name: 169, dtype: object

In [22]:
median_time = df_results["TotalMaxTime"].max()
print(f"Max: {median_time/60:.0f} min")

Max: 400 min

In [16]:
median_time = df_results["TotalMaxTime"].median()
print(f"Median: {median_time/60:.0f} min")

Median: 155 min

In [17]:
mean_time = df_results["TotalMaxTime"].mean()
print(f"Mittelwert: {mean_time/60:.0f} min")

Mittelwert: 170 min

In [26]:
df_results["TotalMaxTime"].sum() /(3600*24)

np.float64(19.11403912037037)