# Rescheduling mit Lateness (Summe)
> Planunghorizont Tag 0: 2 Tage <br>
> Rescheduling des Tages 1

In [1]:
# Datenzugriff
from configs.config import get_path

# Utils
import src.utils.presenter as show
from src.utils.production_process import convert
from src.utils.production_process import initialize as init
from src.utils.analize import check_constrains as check

from src.utils.production_process import time_determination as term
from src.utils.production_process import gen_deadline as gen_deadline

# Solver Model
from src.models.lp import lateness_scheduling as lp_late_schedule
from src.models.lp import lateness_rescheduling as lp_late_reschedule
import src.models.heuristics.fcfs as fcfs

# Extern
import pandas as pd
pd.set_option('display.max_rows', 21)

In [2]:
max_time = 60*5 # 5 min

In [3]:
basic_data_path = get_path("data", "basic")
day_count = 1

df_instance = pd.read_csv(basic_data_path / "instance.csv")
df_jssp, df_job_arrivals = init.create_production_orders_for_shifts(df_template=df_instance, shift_count=day_count,
                                                                 u_b_mmax= 0.94, shift_length=1440, shuffle=True,
                                                                 job_seed=40, arrival_seed=80)
df_job_times = gen_deadline.get_times_df(df_jssp, df_job_arrivals, fcfs.schedule_with_arrivals, target_service=1.0)
df_job_times

Schedule-Informationen:
  Makespan: 2400

    Job  Production_Plan_ID  Arrival  Deadline
0     0                   0       49     848.0
1     1                   1      130    1162.0
2     2                   2      151    1300.0
3     3                   3      226    1551.0
4     4                   4      386    1181.0
5     5                   5      464    1467.0
6     6                   6      480    1322.0
7     7                   7      506    1596.0
8     8                   8      526    1734.0
9     9                   9      535    1627.0
10   10                   0      922    1721.0
11   11                   9      928    2020.0
12   12                   8      950    2158.0
13   13                   2     1001    2150.0
14   14                   4     1127    1922.0
15   15                   7     1142    2232.0
16   16                   1     1254    2286.0
17   17                   3     1285    2610.0
18   18                   5     1397    2400.0
19   19                   6     1398    2240.0

## I) Complete Scheduling

In [ ]:
# Scheduling
df_schedule = lp_late_schedule.solve_jssp_sum(df_jssp, df_job_times, solver= "HiGHS", msg=False, timeLimit=max_time, gapRel= 0.01)
df_schedule

BigM: 6000

In [ ]:
last_ops = df_schedule.sort_values(['Job', 'Operation']).drop_duplicates('Job', keep='last')
print(show.count_column_grouped(last_ops, 'Absolute Lateness'))

In [ ]:
show.plot_gantt(df_schedule, perspective="Machine")
check.is_machine_conflict_free(df_schedule)
check.is_operation_sequence_correct(df_schedule)
check.is_job_timing_correct(df_schedule)
check.is_start_correct(df_schedule)

## II) Erster Tag (Tag 0)

### a) Simulation

In [ ]:
day_length = 1440

In [ ]:
day_numb = 0

day_start = day_length*day_numb 
day_end = day_start + day_length

In [ ]:
simulation = ProductionDaySimulation(df_plan, vc=0.25)
df_execution = simulation.run(start_time = day_start, end_time=day_end)

In [ ]:
df_plan_undone = process_filter.get_unexecuted_operations(df_schedule, df_execution)
df_plan_undone

In [ ]:
if not df_execution.empty:
    show.plot_gantt(df_execution, perspective="Machine", title=f"Gantt-Diagramm ab Tag {day_numb}")
else:
    print(f"Nothing executed on day {day_numb}")

### b) Verbleibene Jobs (Rest)

In [ ]:
df_plan_undone

In [ ]:
df_job_times_undone = process_filter.update_times_after_operation_changes(df_job_times, df_plan_undone)
df_job_times_undone

## III) Rescheduling
> vereinfacht, ohne neu Aufträge (nur der Rest)

In [ ]:
# Reduktion der bereits ausgeführten Operationen auf die relevanten für die nächsten Tage
df_execution_important = df_execution[df_execution["End"] >= 1440]
df_execution_important

In [ ]:
df_reschedule = lp_late_reschedule.solve_jssp_sum_with_fixed_ops(df_plan_undone, df_job_times_undone,
                                                                 df_execution_important,
                                                                 reschedule_start = 1440,
                                                                 solver= "HiGHS", msg=False, timeLimit=max_time, gapRel= 0.0)
df_reschedule

In [ ]:
last_ops = df_reschedule.sort_values(['Job', 'Operation']).drop_duplicates('Job', keep='last')
print(show.count_column_grouped(last_ops, 'Lateness'))

In [ ]:
show.plot_gantt_machines(df_reschedule)
check.is_machine_conflict_free(df_reschedule)
check.is_operation_sequence_correct(df_reschedule)
check.is_job_timing_correct(df_reschedule)
check.is_start_correct(df_reschedule)

## Simulation + neuer Schedule

In [ ]:
df_combined = pd.concat([df_execution, df_reschedule], ignore_index=True)
df_combined

In [ ]:
df = df_combined
show.plot_gantt_machines(df)
check.is_machine_conflict_free(df)
check.is_operation_sequence_correct(df)
check.is_job_timing_correct(df)
check.is_start_correct(df)